.navbar-nav .nav-item.hover {
	text-decoration: none;
	&:after {
		bottom: -$dropdown-spacer;
		content: "";
		height: $dropdown-spacer;
		position: absolute;
		width: 100%;
	}
}
	.navbar-nav .nav-item {
		a {
			font-weight: 600;
			&:visited,
			&:link {
				color: $link-color;
				font-weight: 600;
			}
		}
	}
	// *{
	// 	text-decoration: none;
	// }

	.site-name{
		color: $link-color;
		font-size: 20px;
		font-weight: 600;
	}