.navbar-nav .nav-item.hover {
	text-decoration: none;
	&:after {
		bottom: -$dropdown-spacer;
		content: "";
		height: $dropdown-spacer;
		position: absolute;
		width: 100%;
	}
	.navbar-nav .nav-item {
		a {
			color: black;
			&:visited, &:link{
			color: black;
			}
		}
	}
	// *{
	// 	text-decoration: none;
	// }
}
