.taglib-header {
	border-bottom-color: mediumvioletred;
	color: lightpink;

	.header-back-to a {
		font-weight: bold;
		text-decoration: none;
	}
}
.jumbotron {
    background-color: palevioletred; 
    background-repeat: no-repeat;
}
