.lfr-header-row {
	border-bottom-color: mediumvioletred;

	.lfr-search-combobox {
		border-color: palevioletred;
		color: palevioletred;
	}
}
header {
	background-color: #fff;
	.jumbotron {
		background-color: #fff;
		background-repeat: no-repeat;
	}
}
